

html, body {
    width: 100%;
}

.ticker-grid {
    display: grid;
    grid-template-columns: repeat(6, calc(15% - 10px));
    grid-template-rows: auto;
    justify-content: space-evenly;
    row-gap: 10px;
    column-gap: 10px;
}

.ticker-grid__cell {
    background-color: white;
    padding: 6px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px white;
}
